<html>

<head>
<title>Andrew Shamaskin's Webpage</title>
</head>

<body>

<p>Greetings, my name is Andrew Shamaskin.  I am a graduate research assistant at Mississippi State University, and will be finishing up my MS in fisheries science by the end of this year. <b>Knit HTML</b> Please pardon the dust as I just set up this webpage 5 minutes ago.</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
